openapi: 3.1.0
info:
  title: MIDAS Historical API
  version: 0.1.0
  description: |
    Unofficial OpenAPI specification for the MIDAS HistoricalData and
    HistoricalList endpoints.

    Derived from the [MIDAS documentation](https://github.com/california-energy-commission/MIDAS)
    and validated against the live API at https://midasapi.energy.ca.gov/.

    The HistoricalData response reuses the same RateInfo shape as the
    ValueData endpoint, but with some differences observed in the live API
    (e.g. DayStart/DayEnd can be null).
  contact:
    name: Clark Communications Corporation
    url: https://github.com/grid-coordination/midas-api-specs
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://midasapi.energy.ca.gov/api
    description: MIDAS Production

security:
  - bearerAuth: []

paths:
  /HistoricalList:
    get:
      summary: List RINs with historical data for a given provider
      description: |
        Returns all RINs with data in the HistoricalData table for the
        specified distribution and energy providers. Includes current and
        discontinued rates, plus GHG and Flex Alert RINs automatically.

        Note: The live API may return duplicate entries for the same RIN.
        The response does not include the LastUpdated field that appears
        in ValueData's RIN list — yet another inconsistency.
      operationId: getHistoricalList
      parameters:
        - name: DistributionCode
          in: query
          required: true
          description: Distribution provider code from the Distribution lookup table.
          schema:
            type: string
          examples:
            pgAndE:
              value: PG
            test:
              value: TS
        - name: EnergyCode
          in: query
          required: true
          description: Energy provider code from the Energy lookup table.
          schema:
            type: string
          examples:
            pgAndE:
              value: PG
            test:
              value: TS
      responses:
        '200':
          description: Array of RIN list entries.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalListEntry'
        '401':
          description: Unauthorized — missing or expired bearer token.

  /HistoricalData:
    get:
      summary: Retrieve archived rate data for a RIN within a date range
      description: |
        Returns historical rate/value data for the specified RIN and date
        range. The response shape is the same RateInfo object used by the
        ValueData endpoint.

        Note: Only historical RINs may be queried here. For GHG and Flex
        Alert data, use the corresponding historical RINs (SGHT, FXHT).
      operationId: getHistoricalData
      parameters:
        - name: id
          in: query
          required: true
          description: The Rate Identification Number (RIN).
          schema:
            type: string
          examples:
            test:
              value: USCA-TSTS-TTOU-TEST
        - name: startdate
          in: query
          required: true
          description: Start date for the period of interest (ISO 8601 date).
          schema:
            type: string
            format: date
          examples:
            example:
              value: "2023-01-01"
        - name: enddate
          in: query
          required: true
          description: End date for the period of interest (ISO 8601 date).
          schema:
            type: string
            format: date
          examples:
            example:
              value: "2023-12-31"
      responses:
        '200':
          description: |
            Rate information with historical values. Same RateInfo shape as
            the ValueData endpoint. DayStart/DayEnd may be null in historical
            data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateInfo'
        '401':
          description: Unauthorized — missing or expired bearer token.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 10-minute bearer token from the /Token endpoint.

  schemas:
    HistoricalListEntry:
      type: object
      description: |
        A RIN entry from the HistoricalList endpoint. Same shape as the
        ValueData RIN list but without the LastUpdated field.
      required:
        - RateID
        - SignalType
        - Description
      properties:
        RateID:
          type: string
          description: The Rate Identification Number (RIN).
          examples:
            - USCA-TSTS-TTOU-TEST
        SignalType:
          type:
            - string
            - 'null'
          description: Human-readable signal type. Null for GHG and Flex Alert entries in live API responses.
          enum:
            - Rates
            - GHG
            - Flex Alert
            - null
        Description:
          type: string
          description: Human-readable description including distribution and energy providers.
          examples:
            - "Rate Data for Distributor: Test, Energy Company: Test"

    RateInfo:
      description: |
        Reuses the same shape as the ValueData RateInfo response.
        See apis/value-data/openapi.yaml for the full definition.
        Duplicated here for self-containedness.
      type: object
      required:
        - RateID
        - RateName
        - RateType
        - ValueInformation
      properties:
        RateID:
          type: string
        SystemTime_UTC:
          type: string
          format: date-time
        RateName:
          type: string
        RateType:
          type: string
        Sector:
          type:
            - string
            - "null"
        EndUse:
          type:
            - string
            - "null"
        API_Url:
          type:
            - string
            - "null"
        RatePlan_Url:
          type:
            - string
            - "null"
        AltRateName1:
          type:
            - string
            - "null"
        AltRateName2:
          type:
            - string
            - "null"
        SignupCloseDate:
          type:
            - string
            - "null"
        ValueInformation:
          type:
            - array
            - "null"
          items:
            $ref: '#/components/schemas/ValueData'

    ValueData:
      type: object
      required:
        - ValueName
        - DateStart
        - DateEnd
        - TimeStart
        - TimeEnd
        - value
        - Unit
      properties:
        ValueName:
          type: string
        DateStart:
          type: string
          format: date
        DateEnd:
          type: string
          format: date
        DayStart:
          type:
            - string
            - "null"
        DayEnd:
          type:
            - string
            - "null"
        TimeStart:
          type: string
        TimeEnd:
          type: string
        value:
          type: number
        Unit:
          type: string
