openapi: 3.1.0
info:
  title: MIDAS Historical API
  version: 2.0.0
  description: |
    Unofficial OpenAPI specification for the MIDAS HistoricalData endpoint.

    **This is the MIDAS v2.0 spec (CEC release 2026-06-22).** Two breaking
    changes from v1.0: (1) the endpoint moves from `GET /HistoricalData?id={rin}`
    to `GET /historicaldata/{rate_id}` (RIN is now a path parameter), and
    (2) the `HistoricalList` operation is removed — use
    `GET /valuedata?SignalType=0` for the full active RIN list. GET calls are
    also unauthenticated in v2.0.

    Derived from the [MIDAS documentation](https://github.com/california-energy-commission/MIDAS)
    and validated against the live API at https://midasapi.energy.ca.gov/.

    The HistoricalData response reuses the same RateInfo shape as the
    ValueData endpoint, but with some differences observed in the live API
    (e.g. DayStart/DayEnd can be null).
  contact:
    name: Clark Communications Corporation
    url: https://github.com/grid-coordination/midas-api-specs
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://midasapi.energy.ca.gov/api
    description: MIDAS Production

paths:
  /historicaldata/{rate_id}:
    get:
      summary: Retrieve archived rate data for a RIN within a date range
      description: |
        Returns historical rate/value data for the specified RIN and date
        range. The response shape is the same RateInfo object used by the
        ValueData endpoint.

        v2.0: the RIN is supplied as a path parameter (`/historicaldata/{rate_id}`),
        GET is unauthenticated, and the maximum range per call is **6 months**.

        Note: Only historical RINs may be queried here. For Flex Alert data,
        use the consolidated v2.0 RIN `USCA-FLEX-ALRT-0000`.

        **SGIP GHG history caveat (CEC, 2026-06-19):** pre-migration SGIP GHG
        history is **not** migrated at the v2.0 cutover. The consolidated
        `USCA-SGIP-MOER-{REGION}` RINs carry only post-2026-06-22 readings.
        The CEC has not confirmed whether the legacy 33 RINs
        (`USCA-SGIP-{SGRT,SGFC,SGHT}-{REGION}`) remain queryable for earlier
        ranges. For pre-migration GHG history, the canonical source is the
        SGIP Signal bulk download (https://content.sgipsignal.com/download-data/,
        CSV), or the WattTime API directly; a future CEC data migration may
        also follow. (This means the archived-data
        normalization questions — `g/kWh CO2` units, `Value` casing, UTC
        timestamps, long-form `SignalType` labels — do not yet apply to
        historical GHG, as no GHG history has been migrated.)
      operationId: getHistoricalData
      security:
        - {}
        - bearerAuth: []
      parameters:
        - name: rate_id
          in: path
          required: true
          description: The Rate Identification Number (RIN).
          schema:
            type: string
          examples:
            test:
              value: USCA-TSTS-TTOU-TEST
            moer:
              value: USCA-SGIP-MOER-PGE
        - name: startdate
          in: query
          required: true
          description: Start date for the period of interest (ISO 8601 date).
          schema:
            type: string
            format: date
          examples:
            example:
              value: "2023-01-01"
        - name: enddate
          in: query
          required: true
          description: |
            End date for the period of interest (ISO 8601 date). The maximum
            range per call is 6 months (`enddate` − `startdate`); split larger
            ranges across multiple calls.
          schema:
            type: string
            format: date
          examples:
            example:
              value: "2023-12-31"
      responses:
        '200':
          description: |
            Rate information with historical values. Same RateInfo shape as
            the ValueData endpoint. DayStart/DayEnd may be null in historical
            data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateInfo'
        '404':
          description: Not found — unknown RIN, or no historical data for the given range.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        10-minute bearer token from the /Token endpoint. Not required for GET
        in v2.0 (retained for upload operations documented elsewhere).

  schemas:
    RateInfo:
      description: |
        Reuses the same shape as the ValueData RateInfo response.
        See apis/value-data/openapi.yaml for the full definition.
        Duplicated here for self-containedness.
      type: object
      required:
        - RateID
        - RateName
        - RateType
        - ValueInformation
      properties:
        RateID:
          type: string
        SystemTime_UTC:
          type: string
          format: date-time
        RateName:
          type: string
        RateType:
          type: string
        Sector:
          type:
            - string
            - "null"
        EndUse:
          type:
            - string
            - "null"
        API_Url:
          type:
            - string
            - "null"
        RatePlan_Url:
          type:
            - string
            - "null"
        AltRateName1:
          type:
            - string
            - "null"
        AltRateName2:
          type:
            - string
            - "null"
        SignupCloseDate:
          type:
            - string
            - "null"
        ValueInformation:
          type:
            - array
            - "null"
          items:
            $ref: '#/components/schemas/ValueData'

    ValueData:
      type: object
      required:
        - ValueName
        - DateStart
        - DateEnd
        - TimeStart
        - TimeEnd
        - Value
        - Unit
      properties:
        ValueName:
          type: string
        DateStart:
          type: string
          format: date
        DateEnd:
          type: string
          format: date
        DayStart:
          type:
            - string
            - "null"
        DayEnd:
          type:
            - string
            - "null"
        TimeStart:
          type: string
        TimeEnd:
          type: string
        Value:
          type: number
        Unit:
          type: string
